<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Booking Service</title>
</head>
<body>
<h1 th:text="Events"></h1>
<h3 th:text="${deleted}"></h3>
<table>
    <th:block th:each="event : ${events}">
        <form th:action="@{/events/{id}(id=${event.id})}" th:method="post">
            <tr>
                <td th:text="${event.id}"></td>
                <td th:text="${event.title}"></td>
                <td th:text="${event.date}"></td>
                <td>
                    <button id="submitButton" type="submit">Delete</button>
                </td>
            </tr>
        </form>
    </th:block>
</table>
</body>
</html>