<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:init.properties"/>
    <context:component-scan base-package="com.epam.cdp.hw1" />

    <bean id="dataStorage" class="com.epam.cdp.hw1.storage.Storage">
        <property name="ticketFilePath" value="${file.tickets}"/>
        <property name="eventFilePath" value="${file.events}"/>
        <property name="userFilePath" value="${file.users}"/>
    </bean>

    <!-- Repository beans -->
    <bean id="eventRepository" class="com.epam.cdp.hw1.repositories.impl.EventRepositoryImpl">

    </bean>

    <bean id="ticketRepository" class="com.epam.cdp.hw1.repositories.impl.TicketRepositoryImpl">

    </bean>

    <bean id="userRepository" class="com.epam.cdp.hw1.repositories.impl.UserRepositoryImpl">

    </bean>

    <!-- Service beans -->
    <bean id="eventService" class="com.epam.cdp.hw1.services.EventService">

    </bean>

    <bean id="ticketService" class="com.epam.cdp.hw1.services.TicketService">

    </bean>

    <bean id="userService" class="com.epam.cdp.hw1.services.UserService">

    </bean>

    <!-- Facade bean -->
    <bean id="facade" class="com.epam.cdp.hw1.facade.impl.BookingFacadeImpl">
        <constructor-arg index="0" ref="userService"/>
        <constructor-arg index="1" ref="ticketService"/>
        <constructor-arg index="2" ref="eventService"/>
    </bean>

</beans>